footer{
    width:100%;
    height:auto;
    background-color: #10174E;
    box-shadow: 0px -3px 10px 5px #10174E;
}

.assinatura{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size:12pt;
	color:white;
}
.dock{
	margin-top: 8%;
}
